#App {
    height: 100vh;
    text-align: center;
    -webkit-app-region: drag;
    widows: 1;
    background-color: #edebeb;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.icon {
    width: 96px;
    height: 96px;
    filter:
        drop-shadow(0.5px 0.5px 1px rgba(255, 255, 255, 1)) drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.2)) drop-shadow(-4px -2px 2px rgba(255, 255, 255, 1));
}