.wrapper {
    width: 128px;
    height: 8px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0.5px 0.5px 1px rgba(255, 255, 255, 1), 2px 4px 2px rgba(0, 0, 0, 0.2), -4px -2px 2px rgba(255, 255, 255, 1);
}

.loader {
    height: 100%;
    width: 40%;
    background-color: #68ba2e;
    border-radius: 4px;
    box-shadow: inset 0.5px 0.5px 1px #ffffff99, inset -0.5px -0.5px 1px #00000033;
    animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
    }

    70% {
        transform: translateX(250%);
    }

    100% {
        transform: translateX(250%);
    }
}